In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv('D:\SR14.csv')
df.head()

,cosmic rad(mrem),radiation value,rad from body,false teeth,LCD wristwatch,watch TV,using pacemaker,use of X-ray,thyroid scan,live in brick or concrete building,total dosage
0,27,2,240,0.07,0.006,1,100,40,14,7,431.076
1,27,2,240,0.00,0.000,1,100,40,14,7,431.000
2,27,2,240,0.00,0.000,1,100,40,14,7,431.000
3,26,2,240,0.00,0.000,1,100,40,14,7,430.000
4,26,2,239,0.00,0.000,1,100,40,14,7,429.000

In [3]:
df.rename(columns={'rad from body':'radfrombody'},inplace=True)

In [4]:
df.rename(columns={'false teeth':'falteeth','using pacemaker':'pacemaker','thyroid scan':'thyroidscan'},inplace=True)

In [5]:
x=df.iloc[:,0:10]

In [6]:
from sklearn import preprocessing
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(x).transform(x)

array([[1.        , 0.        , 1.        , ..., 1.        , 1.        ,
        1.        ],
       [1.        , 0.        , 1.        , ..., 1.        , 1.        ,
        1.        ],
       [1.        , 0.        , 1.        , ..., 1.        , 1.        ,
        1.        ],
       ...,
       [0.        , 0.39705882, 0.        , ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.39705882, 1.        , ..., 1.        , 1.        ,
        1.        ],
       [0.        , 0.39705882, 1.        , ..., 1.        , 1.        ,
        1.        ]])

In [7]:
y=df.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
rs=[]
mae_list=[]
for i in range(49,100):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    rmc=RandomForestRegressor(n_estimators = 2, random_state = 34)
    rmc.fit(x_train,y_train)
    rmc_pred=rmc.predict(x_test)
    mae=metrics.mean_squared_error(rmc_pred,y_test)
    rs.append(i)
    mae_list.append(mae)

In [10]:
df1_rmc=pd.DataFrame({'Random_state':rs,'Mean squared error':mae_list})
df1_rmc

    Random_state  Mean squared error
0             49            0.493866
1             50            0.676905
2             51            1.873758
3             52            1.842505
4             53           49.423525
5             54            3.723932
6             55            7.722452
7             56            3.615415
8             57            2.686744
9             58            7.696598
10            59            4.235049
11            60            3.175988
12            61           17.836866
13            62            2.025835
14            63            2.048781
15            64            1.781257
16            65           10.148025
17            66            4.436345
18            67            5.300025
19            68            4.226967
20            69            3.831518
21            70            3.954342
22            71            5.923928
23            72            9.789195
24            73            5.217525
25            74            1.551061
26            75           10.102000
27            76            1.711297
28            77           17.622244
29            78            0.774967
30            79            4.117987
31            80            4.339164
32            81            7.670659
33            82            0.834347
34            83           26.026868
35            84            9.539110
36            85            4.343006
37            86            3.669997
38            87            1.851505
39            88            1.097596
40            89            2.323174
41            90            8.906501
42            91           10.147709
43            92            4.549745
44            93            3.916805
45            94            6.834989
46            95            4.657403
47            96            7.570225
48            97           13.747196
49            98           14.273806
50            99            2.823538

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=33)

In [12]:
rmc=RandomForestRegressor(n_estimators = 2, random_state = 34)
rmc.fit(x_train,y_train)
rmc_pred=rmc.predict(x_test)

In [13]:
mse=metrics.mean_squared_error(y_test,rmc_pred)

In [14]:
print(mse)

1.1187573048780495

In [15]:
rmse=np.sqrt(mse)
print(rmse)

1.0577132432176735

In [16]:
rmc.score(x_test,y_test)

0.9996258831727747

In [17]:
rmc_pred

array([481.073, 290.006, 431.076, 377.006, 436.006, 356.076, 429.   ,
       454.576, 436.006, 390.   , 328.076, 430.   , 408.07 , 431.076,
       309.07 , 313.07 , 309.07 , 436.006, 394.076, 380.07 , 376.076,
       299.07 , 354.076, 429.   , 307.07 , 309.07 , 432.076, 290.506,
       313.07 , 455.076, 393.076, 436.006, 330.006, 438.07 , 354.576,
       319.076, 322.07 , 431.57 , 368.076, 289.   , 428.   , 380.07 ,
       309.07 , 451.576, 375.076, 288.   , 380.07 , 456.076, 314.07 ,
       498.076, 330.076, 376.506, 333.076, 349.076, 330.07 , 390.07 ,
       335.07 , 451.076, 428.   , 330.076, 376.073, 376.506, 288.   ,
       324.07 , 370.006, 382.076, 449.076, 356.076, 320.076, 422.076,
       446.076, 299.07 , 355.076, 431.   , 389.073, 429.076, 446.076,
       390.07 , 330.006, 379.006, 430.006, 393.076])

In [18]:
y_test

96     482.070
38     290.006
0      431.076
34     377.006
249    436.006
        ...
318    390.076
8      330.006
240    379.006
340    430.006
398    393.076
Name: total dosage, Length: 82, dtype: float64

In [19]:
rmc.score(x_train,y_train)

0.9990594313094754

In [20]:
df1_pred=pd.DataFrame({'Actual':y_test,'Predicted':rmc_pred})
df1_pred.head(10)

      Actual  Predicted
96   482.070    481.073
38   290.006    290.006
0    431.076    431.076
34   377.006    377.006
249  436.006    436.006
404  356.076    356.076
134  429.000    429.000
122  456.076    454.576
376  436.006    436.006
346  390.000    390.000